@model IEnumerable<proekt_za_6ca.Data.Entities.Reservation>

@{
    ViewData["Title"] = "My Reservations";
}

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="display-4">
                <i class="fas fa-calendar-check"></i> My Reservations
            </h1>
            <p class="lead">View and manage your restaurant reservations</p>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12">
            <a asp-action="Create" class="btn btn-success">
                <i class="fas fa-plus"></i> Create New Reservation
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeopleCount)
            </th>
            <th>
                Restaurant
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                Owner
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeopleCount)
            </td>
            <td>
                @(item.Restaurants?.Title ?? "N/A")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @(item.Owner?.Email ?? "N/A")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
